# IP control-plane ноды в локальной сети.
# Замените на адрес вашей control-plane VM.
CONTROL_PLANE_IP=192.168.56.10

# Kubernetes Pod network.
POD_CIDR=10.244.0.0/16

# Свободный диапазон IP-адресов локальной сети для MetalLB.
METALLB_POOL_START=192.168.56.200
METALLB_POOL_END=192.168.56.220

# DNS-имя приложения.
GATEWAY_HOSTNAME=hackathon.local
